<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/png" sizes="32x32" href="icons/infomesasicon.png">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<table>
	{% for cheque in cheques %}
	<tr>
		{% for item in cheque %}
		{% if item == 'disponible' %}
		<td style="color:green">
				{{ item }}
			</td>
		{% else %}
			<td >
				{{ item }}
			</td>
		{% endif %}	
		{% endfor %}
    	</tr>
  {% endfor %}
</table>
</body>
</html>

