jinja2==3.0.1 ; python_full_version == "3.9.2"
markupsafe==2.0.1 ; python_full_version == "3.9.2"
numpy==1.22.1 ; python_full_version == "3.9.2"
pyqt5-qt5==5.15.2 ; python_full_version == "3.9.2"
pyqt5-sip==12.9.0 ; python_full_version == "3.9.2"
pyqt5==5.15.4 ; python_full_version == "3.9.2"
pyqtchart-qt5==5.15.2 ; python_full_version == "3.9.2"
pyqtchart==5.15.4 ; python_full_version == "3.9.2"
pyqtgraph==0.12.1 ; python_full_version == "3.9.2"
python-dateutil==2.8.1 ; python_full_version == "3.9.2"
six==1.16.0 ; python_full_version == "3.9.2"
