<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/png" sizes="32x32" href="icons/infomesasicon.png">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

		td, th { 
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

</head>
<body>
<h1>Deuda Soldini</h1>
<table>
{% for item in data %}
<tr>
	<td>{{ item[0] }}</td>
	<td>{{ item[1] }}</td>
	<td>{{ item[2] }}</td>
	<td>{{ item[3] }}</td>
	<td>{{ item[4] }}</td>
</tr>
{% endfor %}
</table>
<br>

<p>Pendiente de pago:</p>
<table>
{% for item in deuda_pendiente %}
<tr>
	<td>{{ item[0] }}</td>
	<td>{{ item[1] }}</td>
	<td>{{ item[2] }}</td>
	<td>{{ item[3] }}</td>
</tr>
{% endfor %}
</table>


<p></p>

<p>Total: {{ total }}</p>
</body>
</html>

