<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!-- <head> -->
<!-- <link rel="stylesheet" href="style.css"> -->
<!-- <link rel="icon" type="image/png" sizes="32x32" href="../icons/infomesasicon.png"> -->
<!-- </head> -->

<!-- <body> -->
<!-- 	{% for pedido in pedidos %} -->
<!-- 	<p class="fecha";>{{ pedido[0] }} </p> -->
<!-- 	<!-1- <p class="button">{{ pedido[1] }}</p> -1-> -->
<!-- 	<p style="text-align:center;"><a class="button" style="color:{{pedido[1][2]}};" href={{pedido[1][1]}}>{{pedido[1][0]}}</a></p> -->
<!-- 	<p class="texto">{{ pedido[2] }} {{ pedido[3]}} </p> -->
<!-- 	<p class="texto">{{ pedido[4] }} </p> -->
<!-- 	<p class="texto">{{ pedido[5] }} </p> -->
<!-- 	<p class="texto">{{ pedido[6] }} </p> -->
<!-- 	{% if pedido[7] == 'en produccion' %} -->
<!-- 		<p style = "font-size:60px; color:brown;">{{ pedido[7] }} </p> -->
<!-- 	{% elif pedido[7] == 'pendiente' %} -->
<!-- 		<p style = "font-size:60px; color:green;">{{ pedido[7] }} </p> -->
<!-- 	{% elif pedido[7] == 'terminada' %} -->
<!-- 		<p style = "font-size:60px; color:goldenrod;">{{ pedido[7] }} </p> -->
<!-- 	{% else %} -->
<!-- 		<p style = "font-size:60px;">{{ pedido[7] }} {{ pedido[8] }} {{ pedido[9] }} </p> -->
<!-- 	{% endif %} -->

<!-- 	<hr><hr> -->
<!-- 	{% endfor %} -->
<!-- </body> -->
<!-- </html> -->

{% extends "base.html" %}
{% block content %}
  {% for pedido in pedidos %}

<div class="col-md-3 mx-3 my-3">
{% if pedido[7] == 'en produccion' %}
  <div class="card text-white" style="background-color:brown;">
{% elif pedido[7] == 'pendiente' %}
  <div class="card bg-success text-white">
{% elif pedido[7] == 'terminada' %}
  <div class="card bg-warning text-white">
{% else %}
  <div class="card bg-secondary text-white">
{% endif %}

    <div class="card-body">
      <h4 class="card-title text-black">{{pedido[0]}}</h4>
  <p class="card-text text-center">  <a href="{{pedido[1][1]}}" class="btn" style="background-color:{{pedido[1][2]}};">{{pedido[1][0]}}</a></p>
      <p class="card-text">{{ pedido[2] }} {{ pedido[3] }}</p>
      <p class="card-text">{{ pedido[4] }}</p>
      <p class="card-text">{{ pedido[5] }}</p>
      <h3 class="card-text"><span class="badge bg-dark">{{ pedido[6] }}</span></h3>
    </div>
  </div>
</div>
  {% endfor %} 
{% endblock %}
