{% extends "base.html" %}
{% block headcontent %}
<style>
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1991px) {
.carousel {
  width:840px;
  height:360px;
}
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
.carousel {
  width:500px;
  height:260px;
}
}
</style>
{% endblock %}

{% block content %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="{{fotoactiva}}" class="d-block w-100" alt="...">
      <div class="carousel-caption">
	<h3>{{refactiva}}</h3>
      </div>
    </div>
    {% for foto in fotos %} 
    <div class="carousel-item">
      <img src="{{foto.path}}" class="d-block w-100" alt="...">
      <div class="carousel-caption">
	<h3>{{foto.ref}}</h3>
      </div>
    </div>
    {% endfor %} 
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}
